### Suicide Dataset

In [1]:
# General Libraries
import pandas as pd
import numpy as np

# Visualization library
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Data Loading
titanic_df = pd.read_csv(r'../Suicide/death-rate-from-suicides.csv')
titanic_df.tail()

           Entity Code  Year Age-standardized suicide rate - Sex: both sexes
3871    Singapore  SGP  2019                                            9.65
3872        Nepal  NPL  2019                                            9.77
3873     Pakistan  PAK  2019                                            9.77
3874  Switzerland  CHE  2019                                            9.83
3875       Norway  NOR  2019                                            9.91

In [5]:
titanic_df['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [8]:
# Checking for any anomaly
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3876 entries, 0 to 3875
Data columns (total 4 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           3876 non-null   object
 1   Code                                             3876 non-null   object
 2   Year                                             3876 non-null   int64
 3   Age-standardized suicide rate - Sex: both sexes  3876 non-null   object
dtypes: int64(1), object(3)
memory usage: 121.3+ KB

- No missing values in each feature