### PANDAS - Python Data Analysis Library
- Provides fast, flexible, and expressive data sctructures designed to make working with "relational" or "labeled" data both easy and intuitive
- High-level building block for doing practical, real-world data analysis in Python.
- Goal: It is the most powerful open source data analysis/manipulation tool available in any language.
- Series - 1 Dimension
- DataFrame - 2 Dimension

#### Creating a series
- Use a list
- Use a dictionary
- Using a Numpy Array

In [1]:
# Import pandas
import pandas as pd

In [5]:
# Create a series using a list - pd.Series(data=data, index=label)
age = [12, 14,44, 23, 45, 56, 87, 44]
age
type(age)

list

In [7]:
customer = pd.Series(data=age)
customer

0    12
1    14
2    44
3    23
4    45
5    56
6    87
7    44
dtype: int64

In [10]:
name = ['Nancy', 'Ann', 'Ken', 'Mary', 'Elizabeth', 'Allan', 'Mercy', 'Pauline']
customer = pd.Series(data=age, index=name)
customer

Nancy        12
Ann          14
Ken          44
Mary         23
Elizabeth    45
Allan        56
Mercy        87
Pauline      44
dtype: int64

In [12]:
# Creating a Series using a Dictionary - pd.Series(dictionary)
movies = {'Avatar':2022, 'Black Panther':2020, 'Saw':2000, 'Money Heist':2019, 'Avenger':2020, 'Iron Man':2021, 'Hulk':2000}
movies

{'Avatar': 2022,
 'Black Panther': 2020,
 'Saw': 2000,
 'Money Heist': 2019,
 'Avenger': 2020,
 'Iron Man': 2021,
 'Hulk': 2000}

In [17]:
film = pd.Series(movies)
film

Avatar           2022
Black Panther    2020
Saw              2000
Money Heist      2019
Avenger          2020
Iron Man         2021
Hulk             2000
dtype: int64

In [18]:
film.index

Index(['Avatar', 'Black Panther', 'Saw', 'Money Heist', 'Avenger', 'Iron Man',
       'Hulk'],
      dtype='object')

In [19]:
film.values

array([2022, 2020, 2000, 2019, 2020, 2021, 2000], dtype=int64)

In [21]:
# Movies that were released after 2010
film[film >= 2010]

Avatar           2022
Black Panther    2020
Money Heist      2019
Avenger          2020
Iron Man         2021
dtype: int64

In [22]:
# Movies that were released before 2010
film[film <= 2010]

Saw     2000
Hulk    2000
dtype: int64

In [23]:
# The year Irom Man was made
film['Iron Man']

2021

In [24]:
film['Avatar']

2022

In [25]:
customer

Nancy        12
Ann          14
Ken          44
Mary         23
Elizabeth    45
Allan        56
Mercy        87
Pauline      44
dtype: int64

In [26]:
customer[customer >= 30]

Ken          44
Elizabeth    45
Allan        56
Mercy        87
Pauline      44
dtype: int64

In [27]:
customer[customer < 40]

Nancy    12
Ann      14
Mary     23
dtype: int64