### Sterling E-Commerce Customer Segmentation

In [2]:
# Import Common Libraries
import numpy as np
import pandas as pd

# Import Visualization Libraries
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df1 = pd.read_excel(r"../Internship/Sterling_E-Commerce_Data.xlsx")
df1.head()

,Category,City,County,Cust Id,Customer Since,Date of Order,Full Name,Gender,Item Id,Order Id,Payment Method,Place Name,Ref Num,Region,State,User Name,Zip,Qty Ordered,Total
0,Health & Sports,Bode,Humboldt,112285,2008-02-11,2022-08-07,"Renaud, Maudie",F,880913,100547952.0,Easypay_MA,Bode,352808,Midwest,IA,mcrenaud,50519,3,32.0
1,Men's Fashion,Belleville,St. Clair,112386,2005-06-23,2022-08-08,"Shimp, Mariela",F,881493,100548328.0,Easypay_MA,Belleville,310849,Midwest,IL,mgshimp,62223,2,74.8
2,Men's Fashion,Belleville,St. Clair,112386,2005-06-23,2022-08-08,"Shimp, Mariela",F,881492,100548328.0,Easypay_MA,Belleville,310849,Midwest,IL,mgshimp,62223,2,74.9
3,Computing,Young America,Carver,112501,2013-09-15,2022-08-18,"Doiron, Latrina",F,886067,100551079.0,Payaxis,Young America,578056,Midwest,MN,lmdoiron,55552,2,6822.9
4,Entertainment,Young America,Carver,112501,2013-09-15,2022-08-20,"Doiron, Latrina",F,886878,100551618.0,Payaxis,Young America,578056,Midwest,MN,lmdoiron,55552,2,2849.9

In [4]:
# Import Data
df = pd.read_excel(r"..\Internship\Sterling_E-Commerce_Data.xlsx")
df.head()

,Category,City,County,Cust Id,Customer Since,Date of Order,Full Name,Gender,Item Id,Order Id,Payment Method,Place Name,Ref Num,Region,State,User Name,Zip,Qty Ordered,Total
0,Health & Sports,Bode,Humboldt,112285,2008-02-11,2022-08-07,"Renaud, Maudie",F,880913,100547952.0,Easypay_MA,Bode,352808,Midwest,IA,mcrenaud,50519,3,32.0
1,Men's Fashion,Belleville,St. Clair,112386,2005-06-23,2022-08-08,"Shimp, Mariela",F,881493,100548328.0,Easypay_MA,Belleville,310849,Midwest,IL,mgshimp,62223,2,74.8
2,Men's Fashion,Belleville,St. Clair,112386,2005-06-23,2022-08-08,"Shimp, Mariela",F,881492,100548328.0,Easypay_MA,Belleville,310849,Midwest,IL,mgshimp,62223,2,74.9
3,Computing,Young America,Carver,112501,2013-09-15,2022-08-18,"Doiron, Latrina",F,886067,100551079.0,Payaxis,Young America,578056,Midwest,MN,lmdoiron,55552,2,6822.9
4,Entertainment,Young America,Carver,112501,2013-09-15,2022-08-20,"Doiron, Latrina",F,886878,100551618.0,Payaxis,Young America,578056,Midwest,MN,lmdoiron,55552,2,2849.9

In [5]:
df['Category'].unique()

array(['Health & Sports', "Men's Fashion", 'Computing', 'Entertainment',
       'Mobiles & Tablets', 'Superstore', 'Appliances',
       'Beauty & Grooming', 'Home & Living', 'Soghaat', "Women's Fashion",
       'School & Education', 'Books', 'Kids & Baby', 'Others'],
      dtype=object)

In [6]:
df['Region'].unique()

array(['Midwest', 'West', 'South', 'Northeast'], dtype=object)

In [8]:
df['Payment Method'].unique()

array(['Easypay_MA', 'Payaxis', 'apg', 'bankalfalah', 'cod',
       'customercredit', 'easypay_voucher', 'Easypay', 'jazzvoucher',
       'jazzwallet', 'mcblite', 'cashatdoorstep', 'financesettlement'],
      dtype=object)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 283083 entries, 0 to 283082
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Category        283083 non-null  object
 1   City            283083 non-null  object
 2   County          283083 non-null  object
 3   Cust Id         283083 non-null  int64
 4   Customer Since  283083 non-null  datetime64[ns]
 5   Date of Order   283083 non-null  datetime64[ns]
 6   Full Name       283083 non-null  object
 7   Gender          283083 non-null  object
 8   Item Id         283083 non-null  int64
 9   Order Id        283078 non-null  float64
 10  Payment Method  283083 non-null  object
 11  Place Name      283083 non-null  object
 12  Ref Num         283083 non-null  int64
 13  Region          283083 non-null  object
 14  State           283083 non-null  object
 15  User Name       283083 non-null  object
 16  Zip             283083 non-null  int64
 17  Qty Ordered     283083 non-null  int64
 18  Total           283083 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(5), object(10)
memory usage: 41.0+ MB

In [18]:
#Checking for missing values
null_val = df.isnull().sum()
null_val

Category          0
City              0
County            0
Cust Id           0
Customer Since    0
Date of Order     0
Full Name         0
Gender            0
Item Id           0
Order Id          5
Payment Method    0
Place Name        0
Ref Num           0
Region            0
State             0
User Name         0
Zip               0
Qty Ordered       0
Total             0
dtype: int64

In [24]:
# Impute order quantity with mean
df['Order Id'].fillna(df['Order Id'].mean(), inplace=True)

In [25]:
df.isnull().sum()

Category          0
City              0
County            0
Cust Id           0
Customer Since    0
Date of Order     0
Full Name         0
Gender            0
Item Id           0
Order Id          0
Payment Method    0
Place Name        0
Ref Num           0
Region            0
State             0
User Name         0
Zip               0
Qty Ordered       0
Total             0
dtype: int64

In [26]:
df.describe()

,Cust Id,Customer Since,Date of Order,Item Id,Order Id,Ref Num,Zip,Qty Ordered,Total
count,283083.000000,283083,283083,283083.000000,2.830830e+05,283083.000000,283083.000000,283083.000000,283083.000000
mean,70106.816026,2007-10-11 22:23:18.552368384,2022-03-12 12:24:32.794904832,741747.110628,1.004570e+08,561107.885991,49147.171374,3.008224,816.230712
min,4.000000,1978-11-04 00:00:00,2021-10-01 00:00:00,574769.000000,1.003547e+08,111127.000000,210.000000,1.000000,0.000000
25%,56640.000000,2002-08-24 00:00:00,2021-12-24 00:00:00,659898.500000,1.004047e+08,341071.000000,26264.000000,2.000000,49.900000
50%,74320.000000,2010-03-22 00:00:00,2022-03-16 00:00:00,742471.000000,1.004518e+08,565623.000000,48808.000000,2.000000,149.800000
75%,92371.000000,2015-01-05 00:00:00,2022-05-18 00:00:00,826078.500000,1.005134e+08,782211.000000,72004.000000,3.000000,800.000000
max,115326.000000,2017-07-28 00:00:00,2022-09-30 00:00:00,905208.000000,1.005624e+08,999981.000000,99402.000000,501.000000,101262.590000
std,30215.394879,NaN,NaN,95664.609013,6.090938e+04,256101.205409,27235.561738,4.565168,1986.164932

In [36]:
# Drop unique columns
#df.drop('Cust Id', axis=1, inplace=True)
#df.drop('Item Id', axis=1, inplace=True)
#df.drop('Order Id', axis=1, inplace=True)
#df.drop('Ref Num', axis=1, inplace=True)
df.drop('Zip', axis=1, inplace=True)

In [37]:
df.columns

Index(['Category', 'City', 'County', 'Customer Since', 'Date of Order',
       'Full Name', 'Gender', 'Payment Method', 'Place Name', 'Region',
       'State', 'User Name', 'Qty Ordered', 'Total'],
      dtype='object')