In [1]:
import pandas as pd 
import numpy as np 

import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
df = pd.read_csv(r'../Hires/PastHires.csv')
df.head()

,Years Experience,Employed?,Previous employers,Level of Education,Top-tier school,Interned,Hired
0,10,Y,4,BS,N,N,Y
1,0,N,0,BS,Y,Y,Y
2,7,N,6,BS,N,N,N
3,2,Y,1,MS,Y,N,Y
4,20,N,2,PhD,Y,N,N

In [4]:
df.shape

(13, 7)

In [5]:
df.size

91

In [6]:
len(df)

13

In [7]:
df.columns

Index(['Years Experience', 'Employed?', 'Previous employers',
       'Level of Education', 'Top-tier school', 'Interned', 'Hired'],
      dtype='object')

In [8]:
df['Hired']

0     Y
1     Y
2     N
3     Y
4     N
5     Y
6     Y
7     Y
8     Y
9     N
10    N
11    Y
12    Y
Name: Hired, dtype: object

In [10]:
df['Hired'][:5]

0    Y
1    Y
2    N
3    Y
4    N
Name: Hired, dtype: object

In [11]:
df['Hired'][5]

'Y'

In [12]:
df[['Years Experience', 'Hired']]

    Years Experience Hired
0                 10     Y
1                  0     Y
2                  7     N
3                  2     Y
4                 20     N
5                  0     Y
6                  5     Y
7                  3     Y
8                 15     Y
9                  0     N
10                 1     N
11                 4     Y
12                 0     Y

In [13]:
previously_hired = df[['Previous employers', 'Hired']][5:11]
previously_hired

    Previous employers Hired
5                    0     Y
6                    2     Y
7                    1     Y
8                    5     Y
9                    0     N
10                   1     N